
.container{
    background-image: url("../../../../assets/images/2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 8%;
    padding-bottom: 16%;
}

.grid {
    position: relative;
    width: 30%;
    background: #0000007b;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 12px;
    margin-left: 35%;
}

.logo{
    font-size: 40px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: rgb(255, 255, 255);
}

.reset{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 4%;
    cursor: pointer;
}

div.field {
    padding-bottom: 25px;
}

.login {
    margin: auto;
    max-width: 85%;
    margin-top: 5%;
    margin-bottom: 10%;
}

label.labels{
    font-size: large;
    font-weight: thin;
    color: rgb(255, 255, 255);
}

div.error-list {
    color: red;
}

.info{
    margin: auto;
    max-width: 85%;
    font-size: 20px;
    color: #ffffff;
}

.p-fluid{
    margin-top: 30px;
}

