<div class="container">
    <div class="grid">
        <div class="logo">Apotheke</div>
        <div class="info">
            <a>Reset Your Password</a>
        </div>
        <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
            <div class="login">
                <div class="p-fluid">
                    <div class="field">
                        <label class="labels">Email</label>
                        <input pInputText type="text" placeholder="Email" formControlName="email"/>
                        <div class="error-list" *ngIf="fc.email.errors && isSubmitted">
                            <div *ngIf="fc.email.errors.required">Should not be empty</div>
                            <div *ngIf="fc.email.errors.email">Email is not correct</div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="labels">New Password</label>
                        <span class="p-input-icon-right">
                            <i class="pi pi-eye-slash" (click)="hide = !hide"></i>
                            <input pInputText type="text" placeholder="New password" formControlName="password" [type]="hide ? 'password' : 'text'"/>
                        </span>
                    </div>
                    <div class="field">
                        <label class="labels">Confirm New Password</label>
                        <span class="p-input-icon-right">
                            <i class="pi pi-eye-slash" (click)="hide2 = !hide2"></i>
                            <input pInputText type="text" placeholder="Confirm new password" formControlName="conf_password" [type]="hide2 ? 'password' : 'text'"/>
                        </span>
                    </div>
                    <p-button label="Reset" styleClass="p-button-raised p-button-text p-button-help" type="submit"></p-button>
                </div>
            </div>
        </form>
    </div>
</div>