<div class="container">
    <div class="grid2" *ngIf="resetPass">
        <div class="logo">Apotheke</div>
        <div class="info">
            <a>Please enter your account's email address below and click the button 'Reset'.
            You will receive an email that contains link to set a new password.
            </a>
        </div>
        <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
            <div class="login">
                <div class="p-fluid">
                    <div class="field">
                        <label class="labels">Email</label>
                        <input pInputText type="text" placeholder="Email" formControlName="email"/>
                        <div class="error-list" *ngIf="reset_fc.email.errors && isSubmitted2">
                            <div *ngIf="reset_fc.email.errors.required">Should not be empty</div>
                            <div *ngIf="reset_fc.email.errors.email">Email is not correct</div>
                        </div>
                    </div>
                    <p-button label="Reset" styleClass="p-button-raised p-button-text p-button-help" type="submit"></p-button>
                </div>
            </div>
            <div class="back-btn">
                <p-button label="Back to Login Page" styleClass="p-button-help p-button-text" (click)="resetPass=false"></p-button>
            </div>
        </form>
    </div>
    <div class="grid" *ngIf="!resetPass">
        <div class="logo">Apotheke</div>
        <p-messages>
            *ngIf="!successLogin"
            [(value)]="msgs[0]" 
        </p-messages>
        <p-messages>
            *ngIf="successLogin"
            [(value)]="msgs[1]" 
        </p-messages>
        <div class="login">
            <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <div class="p-fluid">
                <div class="field">
                    <label class="labels">Username</label>
                    <input pInputText type="text" placeholder="Email" formControlName="email"/>
                    <div class="error-list" *ngIf="fc.email.errors && isSubmitted">
                        <div *ngIf="fc.email.errors.required">Should not be empty</div>
                        <div *ngIf="fc.email.errors.email">Email is not correct</div>
                    </div>
                </div>
                <div class="field">
                    <label class="labels">Password</label>
                    <input pInputText type="password" placeholder="Password" formControlName="password"/>
                    <div class="error-list" *ngIf="fc.password.errors && isSubmitted">
                        <div *ngIf="fc.password.errors.required">Should not be empty</div>
                    </div>
                </div>
                <p-button label="Login" type="submit" icon="pi pi-sign-in" styleClass="p-button-raised p-button-text p-button-help"></p-button>
            </div>
        </form>
        </div>
        <div class="col-2">
            <b class="or">OR</b>
        </div>
        <div class="signup">
            <p-button label="Sign Up" icon="pi pi-user-plus" styleClass="p-button-raised p-button-text p-button-success" (click)="registerForm()"></p-button>
        </div>
        <!-- <div class="signup">
            <p-button label="Reset Page" routerLink="/reset-password-page" styleClass="p-button-raised p-button-text"></p-button>
        </div> -->
        <div class="reset">
            <a (click)="resetPass=true">Forgot password?</a>
        </div>
    </div>
</div>
